.greenline{
  margin-bottom: 60px;
  background: url('../../img/greenline/exclamations.png') green;
  padding: 45px 0;
  color: #fff;
  font-size: 18px;
}

.greenline__text{
  padding: 0 26%;
}  

.greenline__contact-phone{
  font-weight: bold;
}

.greenline__contact-mail {
  color: white;
  font-weight: bold;
}

.greenline--background--blue {
  background-color: #5972b1;
  margin-right: -8px;
  padding: 0;
  margin-bottom: 26px;
  margin-top: 6px;
}

.greenline--background--blue  .greenline__text {
  line-height: 1.667;
  text-align: center;
  padding: 24px 5px;
}
